<div class="container" id="i18_cv">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.career">Publications</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <h2>1. Journal papers</h2>
            <h2>2. Conference/ Workshop papers</h2>
            <h2>3. Submitted Papers</h2>
        </div>
    </div>
</div>
