<div class="container" id="i18_cv">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.career">Publications</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <h2>A. Journal papers</h2>
                <p>1. H. Hong, <b>C. Fan</b>, Y. Lin, C. Hsu. <i>Optimizing Cloud-Based Video Crowdsensing.</i> <i>IEEE Internet of Things Journal,</i> 3(3):299-313, 2016. 
                <p>2. C. Hsu, <b>C. Fan</b>, T. Tsai, C. Huang, C. Hsu, K. Chen. <i>Toward an Adaptive Screencast Platform: Measurement and Optimization.</i> <i>ACM Transactions on Multimedia Computing, Communications, and Applications,</i> 7(3):1-23, 2015.</p>
            <h2>B. Conference/ Workshop papers</h2>
                <p>1. G. Wang, C. Chen, C. Chen, L. Pan, Y. Wang, <b>C. Fan</b>, C. Hsu. <i>Streaming Scalable Video Sequences with Media-Aware Network Elements Implemented in P4 Programming Language,</i> in <i>Proc. of IEEE/IFIP Network Operations and Management Symposium (NOMS’18),</i> Taipei, Taiwan, April 2018, Demo Paper.</p>
                <p>2. <b>C. Fan.</b> <i>Optimizing 360◦ Video Streaming to Head-Mounted Virtual Reality,</i> in <i>Proc. of IEEE International Conference on Pervasive Computing and Communications (PerCom’18),</i> Athens, Greece, March 2018, PhD Forum.</p>
                <p>3. W. Lo, <b>C. Fan</b>, S. Yen, and C. Hsu. <i>Performance measurements of 360◦ video streaming to head-mounted displays over live 4G cellular networks</i>, in <i>Proc. of Asia-Pacific Network Operations and Management Symposium (APNOMS’17)</i>, Seoul, Korea, September 2017.</p>
                <p>4. <b>C. Fan</b>, J. Lee, W. Lo, C. Huang, K. Chen, and C. Hsu. <i>Fixation Prediction for 360-degree Video Streaming to Head-Mounted Virtual Reality</i>, in <i>Proc. of ACM SIGMM Workshop on Networkand Operating Systems Support for Digital Audio and Video (NOSSDAV’17)</i>, Taipei, Taiwan, June 2017.</p>
                <p>5. W. Lo, <b>C. Fan</b>, J. Lee, C. Huang, K. Chen, and C. Hsu. <i>360◦ Video Viewing Dataset in Head- Mounted Virtual Reality</i>, in <i>Proc. of ACM International Conference on Multimedia Systems (MMSys’17)</i>, Taipei, Taiwan, June 2017, Dataset Track.</p>
                <p>6. F. Shih, <b>C. Fan</b>, P. Wang, and C. Hsu. <i>A Scalable Video Conferencing System Using Cached Facial Expressions</i>, in <i>Proc. of International Conference on Multimedia Modeling (MMM’17)</i>, Reykjavik, Iceland, January 2017.</p>
                <p>7. P. Wang, <b>C. Fan</b>, C. Huang, K. Chen, and C. Hsu. <i>Towards Ultra-Low-Bitrate Video Conferencing Using Facial Landmarks</i>, in <i>Proc. of ACM Multimedia Conference (MM’16)</i>, Amsterdam, Netherlands, October 2016, Short Paper.</p>
                <p>8. C. Huang, <b>C. Fan</b>, C. Hsu, T. Tsai, K. Chen, and C. Hsu. <i>Smart Beholder: An End-to-End Platform for Smart Lenses, in Proc. of ACM Multimedia Conference (MM’16)</i>, Amsterdam, Netherlands, October 2016, Open Source Software Competition.</p>
                <p>9. <b>C. Fan</b>, D. Huang, P. Wang, and C, Hsu. <i>Interference-Aware Video Streaming Over Crowded Unlicensed Spectrum</i>, in <i>Proc. of Asia-Pacific Network Operations and Management Symposium (APNOMS'16)</i>, Kanazawa, Japan, October 2016.</p>
                <p>10. C. Huang, C. Hsu, T. Tsai, <b>C. Fan</b>, C. Hsu, and K. Chen. <i>Smart Beholder: An Open-Source Smart Lens for Mobile Photography</i>, in <i>Proc. of ACM Multimedia Conference (MM’15)<i>, Brisbane, Australia, October 2015, Full Paper.</p>
                <p>11. S. Wang, <b>C. Fan</b>, Y. Huang, and C. Hsu. <i>Toward Optimal Crowdsensing Video Quality for Wearable Cameras in Smart Cities</i>, in <i>Proc. of International Workshop on Smart Cities and Urban Informatics (SmartCity ’15)</i>, Hong Kong, China, April 2015.</p>
            <h2>C. Submitted Papers</h2>
                <p>1. <b>C. Fan</b>, W. Lo, Y. Pai, and C. Hsu. <i>A Survey on 360◦ Video Streaming: Acquisition, Transmission, and Display.</i> Submitted to <i>ACM Computing Surveys.</i></p>
                <p>2. <b>C. Fan</b>, S. Yen, C. Huang, and C. Hsu. <i>Optimizing Fixation Prediction Using Recurrent Neural Networks for 360◦ Video Streaming in Head-Mounted Virtual Reality.</i> Submitted to IEEE <i>Transactions on Multimedia.</i></p>
                <p>3. <b>C. Fan</b>, S. Yen, C. Huang, and C. Hsu. <i>Rate-Distortion Optimization of 360◦ Video Tiles Streamed to Head-Mounted Virtual Reality.</i> Submitted to <i>ACM Multimedia Conference (MM’18)</i>, Seoul, Korea, October 2018.</p>
        </div>
    </div>
</div>
